*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#222;
}
.container{
    max-width: 4000px;
    display: flex;
}
.cell{
    padding:2rem;
    flex-basis: 300px;
    background: #dedede;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.container .cell2{
    order:5;
}